<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.mapper.UserMapper">


    <select id="selectall" resultType="User">
        select * from tb_user;
    </select>

    <select id="seletByname" resultType="com.xxxx.pojo.User">
        select * from tb_user where userName = #{uname}
    </select>
    <select id="selectByWhoreceiv" resultType="Msg">
        select * from tb_msg where whoreceive = #{username}
    </select>
    <select id="selectByDorm" resultType="com.xxxx.pojo.User">
        select * from tb_user where dormitoryNum = #{dormNub}
    </select>
    <select id="selectBytowhere" resultType="Notice">
        SELECT * from tb_notice where towhere = #{towhere}
    </select>
</mapper>